<h1>Guest Log for {{singleCompany.companyName}}</h1>

{{#each companyGuest}}
    <h3>{{guestName}}</h3>
    <p>{{guestPhoneNumber}}</p>
    <p>{{reasonForVisit}}</p>
    <p>{{signIn}}</p>
    <p>{{signOut}}</p>
{{/each}}