<h1 class="heading">{{singleGuest.guestFirstName}} {{singleGuest.guestLastName}}</h1>

<div class="center">
    <p>Arrived at: {{formatedDate}}</p>
</div>
<div class="center">
    <p>Phone Number: {{singleGuest.guestPhoneNumber}}</p>
</div>
<div class="center">
    <p>Reason given: {{singleGuest.reasonForVisit}}</p>
</div>

<div class="guest-title-bar">
    <a href="/guest/edit/{{singleGuest._id}}">
        <button>
            Update
        </button>
    </a>
    <form action="/guest/{{singleGuest._id}}?_method=DELETE" method="POST">
        <input type="submit" value="Remove">
    </form>
</div>