<h1>{{singleGuest.guestName}}</h1>

<a href="../company">
    <p>Home</p>
</a>

<p>Phone Number: {{singleGuest.guestPhoneNumber}}</p>
<p><!--company the guest visited--></p>
<p>Arrived at: {{singleGuest.signIn}}</p>
<p>Left at: {{singleGuest.signOut}}</p>
<p>For given: {{singleGuest.reasonForVisit}}</p>

<a href="/guest/edit/{{singleGuest._id}}">
    <button>
        Update
    </button>
</a>

<form action="/guest/{{singleGuest._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Remove Visit">
</form>

<a href="/guest">
    <button>
        Guest Log
    </button>
</a>