<h1>{{singleCompany.name}}</h1>

<form action="/company/{{singleCompany._id}}?_method=PUT" method="POST">
    <input type="text" name="companyName"  placeholder="Company Name" value="{{singleCompany.companyName}}">
    <input type="text" name="companyAddress" placeholder="Address" value="{{singleCompany.companyAddress}}">
    <input type="text" name="companyPhoneNumber" placeholder="" value="{{singleCompany.companyPhoneNumber}}">

    <input type="submit" value="Update">
</form>

<a href="<!--link to associated guest log-->">
    <button>
        Edit Guest Log
    </button>
</a>

<a href="<!--link to associated vendor list-->">
    <button>
        Manage Vendors
    </button>
</a>