<h1 class="heading">{{singleCompany.companyName}}</h1>
<div class="center">
<form action="/company/{{singleCompany._id}}?_method=PUT" method="POST">
    <input type="text" name="companyName"  placeholder="Company Name" value="{{singleCompany.companyName}}">
    <input type="text" name="companyAddress" placeholder="Address" value="{{singleCompany.companyAddress}}">
    <input type="text" name="companyPhoneNumber" placeholder="" value="{{singleCompany.companyPhoneNumber}}">

    <input type="submit" value="Update">
</form>
</div>