<h1 class="heading" >Guest Log</h1>

<div>
{{#each companyGuest}}
    <h3>{{guestFirstName}} {{guestLastName}}</h3>
    <p>{{guestPhoneNumber}}</p>
    <p>{{reasonForVisit}}</p>
    <p>{{signIn}}</p>
{{/each}}
</div>