<h1>{{singleCompany.companyName}}</h1>

<p>{{singleCompany.companyAddress}}</p>
<p>{{singleCompany.companyPhoneNumber}}</p>
<p>{{singleCompany._id}}</p>

<a href="/company/edit/{{singleCompany._id}}">
    <button>
        Update
    </button>
</a>
<a href="../guest/guestLog">
    <p>Guest List</p>
</a>


<form action="/company/{{singleCompany._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Remove Company">
</form>

<h2>Registered Vendors</h2>

{{#each companyVendor}}
    <h3>{{vendorName}}</h3>
    <p>{{vendorAddress}}</p>
    <p>{{vendorPhoneNumber}}</p>
    <p>{{service}}</p>
{{/each}}
