<h1 class="heading">{{singleCompany.companyName}}</h1>

<div class="center">
    <p>Address: {{singleCompany.companyAddress}}</p>
</div>
<div class="center">
    <p>Phone Number: {{singleCompany.companyPhoneNumber}}</p>
</div>
<div class="center">
    <p>ID: {{singleCompany._id}}</p>
</div>

<div class="guest-title-bar">
    <a href="/company/{{singleCompany._id}}/guestLog">
        <button>
            Guest List
        </button>
    </a>
    <form action="/company/{{singleCompany._id}}?_method=DELETE" method="POST">
        <input type="submit" value="Remove Company">
    </form>
    <a href="/company/edit/{{singleCompany._id}}">
        <button>
            Update
        </button>
    </a>
</div>

<h3 class="center">Registered Vendors</h3>

{{#each companyVendor}}
    <div class="box">
        <div class="center">
            <h4 class="box-heading">{{vendorName}}</h4>
        </div>
        <div class="center">
            <p class="box-details">{{vendorAddress}}</p>
        </div>
        <div class="center">
            <p class="box-details">{{vendorPhoneNumber}}</p>
        </div>
        <div class="center">
            <p class="box-details">{{service}}</p>
        </div>
    </div>
{{/each}}