<h1 class="heading">{{singleCompany.companyName}}</h1>

<p>{{singleCompany.companyAddress}}</p>
<p>{{singleCompany.companyPhoneNumber}}</p>
<p>{{singleCompany._id}}</p>

<a href="/company/edit/{{singleCompany._id}}">
    <button>
        Update
    </button>
</a>
<form action="/company/{{singleCompany._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Remove Company">
</form>

<a href="/company/{{singleCompany._id}}/guestList">
    <p>Guest List</p>
</a>

<h3 class="center">Registered Vendors</h3>

{{#each companyVendor}}
    <h4>{{vendorName}}</h4>
    <p>{{vendorAddress}}</p>
    <p>{{vendorPhoneNumber}}</p>
    <p>{{service}}</p>
{{/each}}

<h3 class="center">Guest Log</h3>

{{#each companyGuest}}
    <h4>{{guestName}}</h4>
    <p>{{guestPhoneNumber}}</p>
    <p>{{signIn}}</p>
    <p>{{signOut}}</p>
{{/each}}